[submodule "K1_Series_Klipper"]
	path = K1_Series_Klipper
	url = https://github.com/powARman/K1_Series_Klipper
[submodule "mips-ingenic-xburst2-toolchain"]
	path = mips-ingenic-xburst2-toolchain
	url = https://github.com/powARman/mips-ingenic-xburst2-toolchain.git
[submodule "k1-u-boot"]
	path = k1-u-boot
	url = https://github.com/powARman/k1-u-boot.git
[submodule "k1-linux"]
	path = k1-linux
	url = https://github.com/powARman/k1-linux.git
